<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MarketingPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <description>Images directory</description>
    <param-name>imgdir</param-name>
    <param-value>
         uploads\images\
     </param-value>
  </context-param>
  <servlet>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>com.JSOUPApp.controller.JSOUPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadAppImage</servlet-name>
    <servlet-class>marketingPortal.UploadAppImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAppImage</servlet-name>
    <url-pattern>/UploadApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBrandsServlet</servlet-name>
    <servlet-class>marketingPortal.GetBrandsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBrandsServlet</servlet-name>
    <url-pattern>/GetBrandsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubCategoriesServlet</servlet-name>
    <servlet-class>marketingPortal.GetSubCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubCategoriesServlet</servlet-name>
    <url-pattern>/GetSubCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.search.controller.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>